// Place all the styles related to the feed_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summary {
	font-size: 18px;
}

div.tagged_entry {
	margin: 40px 0;
}

#content div.tagged_entry p {
	margin: 0px;
	padding:0px;
}

.tagged_entry p.summary {
	font-size: 14px;
	color: #ccc;
}

#content .tagged_entry .title {
        font-family:"Trebuchet MS", Tahoma, Verdana;
        font-size:24px;
        text-transform:uppercase;
	line-height: 24px;
        letter-spacing:1px;
        margin:0px 0px 0px 0;
        color:#BFEF01;
	padding:0px;
}

#content .tagged_entry .title:hover {
	color:black;
}

