// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content p.tag_cloud {
  text-align: center;
}

#content p.tag_cloud a {
  color: white;
  font-size: 35px;
  padding: 10px;
}

#content p.tag_cloud a:hover {
  color: black;
  border-radius: 10px;
}
